nav {
    background:var(--bg--navbar);
    color: #e3e3e3;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    position: relative;
    border-bottom: 1px solid rgba(255, 164, 0, 0.18);

}

.nav-title {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    color: #ffa400;
}

.burger-btn {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #ffa400;
    font-size: 1.5rem;
    cursor: pointer;
}

.back-btn {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #ffa400;
    font-size: 1.5rem;
    cursor: pointer;
}