.wheel-container {
    position: relative;
    width: 320px;
    height: 320px;
    margin: 0 auto;
}

.wheel-pointer {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 40px solid #512bd4;
    z-index: 10;
    filter: drop-shadow(0px 2px 0px black) 
        drop-shadow(2px 0px 0px black) 
        drop-shadow(-2px 0px 0px black);
}

.wheel-svg {
    width: 100%;
    height: 100%;
    transition: transform 5s cubic-bezier(0.15, 0, 0.15, 1);
    transform-origin: center center;
}

.wheel-svg.spinning {
    transition: transform 5s cubic-bezier(0.33, 1, 0.68, 1);
}

.wheel-svg.preview-spin {
    animation: slow-spin 30s linear infinite;
}

@keyframes slow-spin {x
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}